<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="frmid" method="POST" action="/add_tweet">
        <div>
            <input type="text" name="title" placeholder="title"> 
        </div>
        <div>
            <input type="text" name="text" placeholder="Text" maxlength="280"> 
        </div>
        <div>
            <input type="submit"/>
        </div>

    </form>
    Great Job!
    <a href="/signout"><button>signout</button></a>
</body>
</html>